@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;
}

.container {
  width: fit-content;
  margin: 5px auto;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  max-width: fit-content;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: fit-content;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  font-size: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

table th {
  background-color: #007bff;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

/* second css */

.footer {
  text-align: center;
  margin-top: 20px;
  color: #777;
  font-size: 14px;
}
